<h2>{{ collection.title }}</h2>

{% paginate collection.products by 8 %}
  <select id="sort-by">
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

    {% for option in collection.sort_options %}
      <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
        {{ option.name }}
      </option>
    {% endfor %}
  </select>

  <div style="display: grid; grid-template-columns: auto auto auto auto; gap: 20px; ">

    {% for product in collection.products %}
      {% render 'product-item' , product: product %}
    {% endfor %}
  </div>

  <div style="padding: 10px; display: flex; justify-content: center;">
    <p>{{ paginate | default_pagination }}
    </p>
  </div>
{% endpaginate %}

<script>
  Shopify.queryParams = {};

// Preserve existing query parameters
  console.log(location.search.substr(1).split('&'))
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

// Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>